In [23]:
import pandas as pd
import numpy as np
import string
import random
from textblob.classifiers import NaiveBayesClassifier

In [24]:
#import Typo data
typo=pd.read_excel('Typo.xlsx',header=None,index_col=0)
typo[2]=typo[1]

In [25]:
#split data into three setsï¼š A,B,C with 40%, 30%,30%
A, B, C = np.split(typo.sample(frac=1), [int(.4*len(typo)), int(.7*len(typo))])

In [26]:
#drop random letter in each rows
droplength= len(A)
for a in range(0,droplength):
    strforsample=str(A.iloc[a,1])
    wordlen=len(strforsample)
    wordloca=random.randint(0,wordlen-1)
    wordstrlist=list(strforsample)
    wordstrlist[wordloca]=''
    wordstr="".join(wordstrlist)
    A.iloc[a,1]=wordstr

In [27]:
#replace random letter in each rows
replacelength= len(B)
for a in range(0,replacelength):
    strforsample=str(B.iloc[a,1])
    wordlen=len(strforsample)
    wordloca=random.randint(0,wordlen-1)
    wordstrlist=list(strforsample)
    mylist = list(string.ascii_lowercase)
    wordstrlist[wordloca]=random.choice(mylist)
    wordstr="".join(wordstrlist)
    B.iloc[a,1]=wordstr

In [28]:
#insert random letter in each rows
insertlength= len(C)
for a in range(0,insertlength):
    strforsample=str(C.iloc[a,1])
    wordlen=len(strforsample)
    wordloca=random.randint(0,wordlen-1)
    wordstrlist=list(strforsample)
    mylist = list(string.ascii_lowercase)
    wordstrlist.insert(wordloca, random.choice(mylist))
    wordstr="".join(wordstrlist)
    C.iloc[a,1]=wordstr

In [29]:
frames = [A, B, C]

typo_result = pd.concat(frames)

In [30]:
typo_result.head()

                 1               2
0
9  Elbert Lawrence  Elbert Lawrnce
3  Michelle Fuller  Michelle Fuler
9  Elbert Lawrence  Elbet Lawrence
1      Amber Woods      mber Woods
5        Wilma Lee        Wilma Le

In [31]:
#import typo_result data and select target columns.
typo=typo_result
typo[3]=typo.index
typo.columns = ['Original_Name','Typo','S.N.']
typo=typo[['Typo','Original_Name']]
typo.sample(10)

               Typo    Original_Name
0
2       Tiffany Cai     Tiffany Cain
3   Michelle Fulqer  Michelle Fuller
8      Shane boseph     Shane Joseph
6         Tomy Ross       Tommy Ross
5          Wilma Le        Wilma Lee
10       Tim Cdarke       Tim Clarke
1       Amner Woods      Amber Woods
6         Tmmy Ross       Tommy Ross
9   Elbedt Lawrence  Elbert Lawrence
1        mber Woods      Amber Woods

In [32]:
#change to array.
typoarray=np.array(typo)
#select 80% as train data, 20% as test data. 
msk = np.random.rand(len(typoarray)) < 0.8
train_set =typoarray[msk]
test_set =typoarray[~msk]

In [33]:
#Using NaivebayesClassifier to classify typo into original name. 
typoclass = NaiveBayesClassifier(train_set)
typoclass.classify("Wilme Lee")

'Wilma Lee'

In [34]:
#Print out accuracy, 79.5 percent accuracy. Not bad. 
typoclass.accuracy(test_set )

0.9069767441860465

In [35]:
#Print out some samples and their prediction.
typolist=["Willme Lee","Jared GloveR","Jered Glover","Tommy Rose","Shane Joeph","Shane J0seph"]
realnamelist=[]
for typo in typolist:
    realname=typoclass.classify(typo)
    print(realname)
    realnamelist.append(realname)

Wilma Lee
Jared Glover
Jared Glover
Michelle Fuller
Shane Joseph
Shane Joseph

In [38]:
#change those prediction and realname into dictionary. 
correctionlist = {"typolist":typolist,"realnamelist":realnamelist}
correctiondf=pd.DataFrame.from_dict(correctionlist)
correctiondf.to_csv("typo_result_2.csv",index=True)